.livro__container {
    padding-top: 40px;
}

.livro__row {
    padding: 0 20%;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

.livro_first-rows {
    text-align: center;
}

.livro__signature {
    padding-bottom: 0.5rem;
}

.livro__text {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5em;
    padding: 0.6rem 0;
}

.livro__title {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2em;
    letter-spacing: .02em;
    font-weight: 200;
    color: #383838;
}

.livro__subtitle {
    text-align: center;
    font-size: 1.3rem;
    line-height: 2em;
    letter-spacing: .02em;
    font-weight: 100;
    color: rgba(68, 68, 68, 0.8);
    padding-bottom: 20px;
}

.livro__subsubtitle {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5em;
    letter-spacing: .02em;
    font-weight: 100;
    color: rgba(68, 68, 68, 0.83);
}

.livro__chapter-title {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.livro__span-bold {
    font-weight: bold;
}

.livro__span-italics {
    font-style: italic;
}

.livro__icon {
    font-size: 0.8rem;
}

.livro__icon-dash {
    text-align: center;
}

.separator-space {
    padding-bottom: 2em;
}

@media screen and (max-width: 660px) {
    .livro__title {
        line-height: 1.5em;
        padding-bottom: 15px;
    }

    .livro__subtitle {
        line-height: 1.3em;
    }

    .livro__row {
        padding: 0 5%;
    }
}