.image-source__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3% 11%;
}

.image-source__img {
    max-width: 95%;
    border-radius: 10px;
}

.image-source__title {
    padding: 0.7rem;
    text-align: center;
}

@media screen and (max-width: 660px) {

    .image-source__title {
        font-size: 0.9rem;
    }

    .image-source__container {
        padding: 0;
    }
}