.testemunho-main__container {
    display: flex;
    flex-direction: row-reverse;
    /*padding: 0 5rem;*/
    padding-top: 0;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 5rem;
}

.testemunho-main__row {
    /*font-family: 'Lato', sans-serif;*/
    /*text-align: center;*/
}

.testemunho-main__cards {
    padding: 20% 10%;
}

.testemunho-main__img {
    width: 400px;
    height: 400px;
    max-width: 40%;
    opacity: 50%;
}

@media (max-width: 700px) {
    .testemunho-main__container {
        flex-direction: column-reverse;
    }
}
